.Navbar {
  display: flex;
  margin: 0px auto;
  max-width: 1310px;
  padding-top: 50px;
  padding-inline: 20px;
  height: 70px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.nav-pages {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}